@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


body {
  font-family: 'Barlow', sans-serif;
   background-color: #0f161b; /* NUEVO FONDO */
  color: white;
}

.nav-tab.active {
  color: #FACC15;
  border-bottom: 3px solid #FACC15;
}

.filter-pill {
  background-color: #202224;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.filter-pill.active {
  background-color: #fff;
  color: #000;
}

.filter-pill:hover {
  background-color: #2f3136;
}

/* Scrollbar elegante para carrito */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f1f1f;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Animación modal */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

.shine {
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(170, 170, 170, 0) 30%, /* gris claro */
    rgba(170, 170, 170, 0.06) 60%, /* opacidad baja */
    rgba(170, 170, 170, 0) 70%
  );
  animation: shineMove 3s infinite linear;
}

@keyframes shineMove {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

/* Fondo oscuro + botones verdes */
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  color: #45f983; /* Verde brillante */
  background: rgba(25, 32, 40, 0.8); /* Fondo oscuro semi */
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.custom-swiper .swiper-button-prev:hover,
.custom-swiper .swiper-button-next:hover {
  color: #36e673; /* Verde más intenso en hover */
  background: rgba(25, 32, 40, 1);
}

/* Paginación (bullets) */
.custom-swiper .swiper-pagination-bullet {
  background: #2c3a47; /* Gris oscuro para inactivos */
  opacity: 1;
}

.custom-swiper .swiper-pagination-bullet-active {
  background: #45f983; /* Verde brillante activo */
}

/* Ajusta tamaño de bullets */
.custom-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

@keyframes marquee {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

/* Color de las bolitas */
.swiper-pagination-bullet {
  background-color: #45F983 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #45F983 !important;
  opacity: 1;
}

